header{
    position: fixed;
    z-index: 999;
    top:0;
    left:0;
    right:0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px 30px;
    background: transparent;
    transition: .3s ease-in;
}
header.black{
    background: #141414;
    box-shadow: 0px -10px 21px #fff;
    transition: .3s ease-in;
}
header img{
    width:40px;
}