.movieRow{
    margin-bottom: 30px;
    overflow-x: hidden;
}
.movieRow h2{
    margin:0px 0px 0px 30px;
}
.movieRow--listarea{
    overflow-x: hidden;    
}
.movieRow--list{
    transition: .5s ease-in;
}
.movieRow--item{
    display:inline-block;
    width:150px;
}
.movieRow--item img{
    width:100%;
    transform:  scale(0.9);
    transition: .3s ease-in-out;
    cursor: pointer;
}
.movieRow--item img:hover{
    transform: scale(1.0);
    transition: .2s ease-in-out;
    box-shadow: 0px 1px 6px 1px #fff;
}
.movieRow--left,
.movieRow--right{
    position: absolute;
    width:30px;
    height:225px;
    background-color:rgba(0,0,0, 0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: .3s ease-in;
}
.movieRow--left{
    left:0;
}
.movieRow--right{
    right:0;
}
.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--right{
    opacity: 1;
    transition: .3s ease-in;
}

@media screen and (max-width:768px){
    .movieRow-listarea{
        overflow-x: scroll;
    }
    .movieRow--left,
    .movieRow--right{
        opacity: 0;
        width:40px;
    }
    .movieRow h2{
        margin: 0px 0px 0px 10px;
        font-size: 21px;
    }
}